@using System.Globalization
@{
	ViewData["Title"] = "Cart";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
	<table class="table table-bordered">
		<thead>
		<tr>
			<th>Name</th>
			<th>Cost</th>
		</tr>
		</thead>
		<tbody>
		@{ int total = 0;}
		@foreach (Product product in Model)
		{
			<tr>
				<td>@product.Name</td>
				<td>@((Convert.ToDouble(@product.Cost) / 100.0).ToString("C", new CultureInfo("en-US")))</td>
				@{ total += @product.Cost;}
			</tr>
		}
		</tbody>
		<tfoot>
		<tr>
			<td>Total</td>
			<td>@((Convert.ToDouble(total) / 100.0).ToString("C", new CultureInfo("en-US")))</td>
		</tr>
		</tfoot>
	</table>
	<a class="btn btn-lg btn-primary" asp-area="" asp-controller="Checkout" asp-action="Index">Checkout</a>
</div>